fingerprint_backend/fingerprint_training/dataset
fingerprint_backend/fingerprint_training/env
fingerprint_backend/fingerprint_training/finger_region/output
fingerprint_backend/fingerprint_training/fingerprint_models
fingerprint_backend/fingerprint_training/fingerprint_recognition/dataset
# fingerprint_backend/fingerprint_training/fingerprint_recognition/prompt.py
fingerprint_backend/fingerprint_training/fingerprint_results
fingerprint_backend/fingerprint_training/reports
fingerprint_backend/fingerprint_training/fingerprint_adapting_models
fingerprint_backend/fingerprint_training/fingerprint_adapting_test_dataset
fingerprint_backend/fingerprint_training/processed_fingerprints
fingerprint_backend/fingerprint_training/DB2_B
fingerprint_backend/fingerprint_training/fingerprint_adapting_dataset
microservice/fingerprint_training